# MongoDB Connection (Railway)
MONGODB_URI=mongodb://mongo:CjXRXKouiofZmNvwrZsLOdKWScyfwDAT@mongodb.railway.internal:27017

# Next.js Configuration
NEXT_PUBLIC_APP_URL=https://auntiearabashop-production.up.railway.app
